<footer class="footer">
    <div class="container border-top mt-5 py-3">
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
        <!-- left -->
        <div class="footer-sibling-fade d-flex flex-column flex-lg-row mb-3 mb-md-0">
          {% for network in site.data.social %}
            <a class="footer-sibling d-flex flex-row align-items-center px-3" href="{{ network.url }}" target="_blank">
              <svg class="social-icon">
                <use xlink:href="/assets/img/icons.svg#{{ network.code }}"></use>
              </svg>
              <span class="username">{{ network.name | escape }}</span>
            </a>
          {% endfor %}
        </div>
        <!-- right -->
        <div class="d-flex flex-column align-items-center align-items-md-end">
          <div>
            © 2018 {{ site.author }}
          </div>
          <div class="d-flex flex-column flex-lg-row align-items-center align-items-md-end">
            <small class="mr-lg-1">
                Software licensed under
                <a href="https://choosealicense.com/licenses/mit/" target="_blank">MIT</a>
            </small>
            <small class="mr-lg-1">
                Content and Media licensed under
                <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">CC BY-NC-ND 4.0</a>
            </small>
            <small>
                <div class="d-none d-lg-inline"> - </div>
                <a href="{{ "/imprint" | relative_url }}">Imprint</a> 
            </small>
          </div>
        </div>
      </div>
  
    </div>
</footer>