<footer>
    <div class="container border-top mt-5">
      <div class="d-flex justify-content-between">
        
        <div class="d-flex flex-row">
          {% for network in site.data.social.networks %}
            <a class="d-flex flex-row align-items-center px-3 py-1" href="{{ network.url }}">
              <svg class="svg-icon">
                <use xlink:href="/assets/img/icons.svg#{{ network.code }}"></use>
              </svg>
              <span class="username">{{ network.name | escape }}</span>
            </a>
          {% endfor %}
        </div>
  
        <div>
          <p>(C) Rojas Bachem</p>
        </div>
      </div>
  
    </div>
</footer>