

// navbar
@include media-breakpoint-up(lg) {
    .nav-sibling {
        transition: opacity 0.5s;
    }
    .nav-sibling-fade:hover .nav-sibling:not(:hover) {
        opacity: .4;
    }
}
.logo {
    width: 35px;
    height: 35px;
}