// full height page
html {
    height: 100%;
}
body {
    height: 100%;
    min-height: 100%;
}

// navbar logo
.logo {
    width: 35px;
    height: 35px;
}

// padding to fixed top nav
.fixed-nav-padding {
    padding-top: 75px;
}

// resize bumpels on homepage after md
@include media-breakpoint-up(sm) {
    .home-img {
        width: 30%;
        height: 30%;
    }
}
@include media-breakpoint-down(sm) {
    .home-img {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 80%;
    }
}

// footer text color
.footer {
    color: $gray-500;
    a {
        color: $gray-700;
        :hover {
            color: $gray-900;
        } 
    }
}

// fixed size for social icons
.social-icon {
    margin-right: 0.5rem;
    width: 16px;
    height: 16px;
}
