@import "../styles/global.scss";

.blog {
  a:hover {
    text-decoration: none;
    h2 {
      text-decoration: underline;
    }
  }
  h2 {
    margin-bottom: 0rem;
  }
  .article {
    padding-bottom: 1.5rem;
    .date {
      font-weight: $font-weight-light;
      color: $gray-600;
      margin-bottom: 1rem;
      .author {
        display: none;
      }
    }
    .imageCol {
      @include media-breakpoint-down(xs) {
        display: none;
      }
    }
  }
}
