---
layout: master
---
<article itemscope itemtype="http://schema.org/BlogPosting">

    <header>
        <h1 itemprop="name headline">{{ page.title | escape }}</h1>
        <p>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.date_format | default: "%a, %e. %b %y" %}
            {{ page.date | date: date_format }}
        </time>
        {% if page.author %}
            • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        {% endif %}
        </p>
    </header>

    <div itemprop="articleBody">
        <div class="news-img-container">
        {% unless page.image.path == site.logo %}
            {% if page.image.path contains '://' %}
            <img class="news-img rounded" src="{{ page.image.path }}" alt="{{ page.title }}">
            {% else %}
            <img class="news-img rounded" src="{{ page.image.path | relative_url }}" alt="{{ page.title }}">
            {% endif %}
        {% endunless %}
        </div>
        {{ content }}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>